<h2>Welcome to Rocket Elevators</h2>
<%= button_to "Login", '/login', method: :get, class:"btn btn-default btn-sm"%>
<%= button_to "Sign Up", '/users/new', method: :get, class:"btn btn-default btn-sm"%>
<h2>Login to your account</h2>
   <%= form_tag '/login' do %>
   <%= label_tag :username%>
   <%= text_field_tag :username %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Login", class:"btn btn-default btn-sm"%>
<%end%>